.header{
    background-image: url('./image/nature.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    height: 50%;
    width: 70%;
}
button{
    color: white;
    background-color: rgba(0,0,0,.7);
    padding: 10px 5px;
    border-radius: 10px;
    position:absolute;
    bottom: 5%;
    cursor: pointer;
    border: 3px solid green;
}
button:hover{
    color: red;
}
button::after{
    color: green;
}